<!-- Navbar (sit on top) -->
<div class ="backgroundd">
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="#signup" routerLink="/signup" class="w3-bar-item w3-button w3-wide">SIGN UP</a>
      <a href="#login"  routerLink="/login" class="w3-bar-item w3-button w3-wide">LOGIN</a>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->
  
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" (click)="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>
  
  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar" #mySidebar>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="#about" routerLink="/about"  onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    
    <a href="#work" routerLink="/page2"  onclick="w3_close()" class="w3-bar-item w3-button">ART COLLECTIONS</a>
  
    <a href="#contact" routerLink="/contact"  onclick="w3_close()" class="w3-bar-item w3-button">FORUM</a>
  </nav>
  <br>
  <br>
  
  <!--Large Title-->
  
  <div class="w3-display-middle w3-text-white w3-jumbo">
    <h1 href="#work" routerLink="/page2"  onclick="w3_close()" class="w3-jumbo w3-animate-top">Hai Kak Hasbi :3</h1>
    <hr class="w3-border-white" style="margin:auto;width:40%"><br>
    <div class="Link">
      <br>
   
  </div>

  
  </div>
  

  
  
  